In [19]:
import pandas as pd

payments = pd.read_csv('payments.csv')
spent = pd.read_csv('spent.csv')
# убираем значения inf
spent = spent.replace(np.inf, 0)

# сводная по стране
spent_pivot = spent.pivot_table(index='os', values=spent[1:-1], aggfunc='sum')
spent_pivot

# конверсия на втором шаге 
spent_pivot['conversion'] = spent_pivot['clicks'].div(spent_pivot.impressions).mul(100)
spent

             date       os country  spend  impressions  clicks  installs
0      2020-06-01  android      AD   0.02           32       2         2
1      2020-06-01  android      AE   2.73         1167      19         8
2      2020-06-01  android      AF   0.07          110       4         0
3      2020-06-01  android      AG   0.04           26       0         0
4      2020-06-01  android      AL   0.13           70       1         1
...           ...      ...     ...    ...          ...     ...       ...
11817  2020-08-15      ios      VN   2.02          495      14         1
11818  2020-08-15      ios      XK   0.14           44       3         0
11819  2020-08-15      ios      ZA   0.44           83       1         0
11820  2020-08-15      ios      ZM   0.03            6       0         0
11821  2020-08-15      ios      ZW   0.01            6       1         1

[11822 rows x 7 columns]

In [16]:
# конверсия на третьем шаге 
spent_pivot['conversion'] = spent_pivot['installs'].div(spent_pivot.clicks).mul(100)
spent_pivot = spent_pivot.sort_values('conversion', ascending=False)
spent_pivot

         clicks  impressions  installs         spend  conversion
os
android  184152      9944345     66178  36898.480115   35.936618
ios      112737      7491120     31509  42748.430070   27.949121

In [17]:
# сводная по стране
payments_pivot = payments.pivot_table(index='os', values=payments[3:-1], aggfunc='sum')

# конверсия на четвёртом шаге
payments_pivot['conversion'] = payments_pivot['unique_purchases'].div(payments_pivot.purchases).mul(100)
payments_pivot = payments_pivot.replace(np.NaN, 0)
payments_pivot = payments_pivot.sort_values('conversion', ascending=False)

print(payments_pivot)

           app_revenue  purchases  unique_purchases  conversion
os
android  556671.704831     182766             38240   20.922929
ios      719537.687967     176186             31697   17.990646